@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">





    <div id="carouselExample" class="carousel slide container w-100">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://4kwallpapers.com/images/wallpapers/the-last-of-us-2023-4480x2520-9422.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://images.hdqwalls.com/wallpapers/2023-grand-turismo-8k-v4.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://wallpaperbat.com/img/236791-hd-movie-wallpaper-top-free-hd-movie-background.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>


    <br />

    <h2 class="text-left">Top Picks</h2>
    <!-- Other content goes here -->


    <div class="d-flex justify-content-between flex-wrap mb-3">


        <div class="card mt-4" style="width: 18rem;">

            <img src="https://images.hdqwalls.com/wallpapers/rampage-movie-4k-3r.jpg" class="card-img-top" alt="Card Image">

            <div class="card-body">
                <h5 class="card-title">Everything Everywhere All At Once</h5>
                <p class="card-text">2022 | R | CC</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Starring: Michelle Yeoh , Stephanie Hsu , Ke Huy Quan , et al.
                    Directed by: Dan Kwan and Daniel Scheinert
                </li>
                <li class="list-group-item">
                    From $3.99 to rent
                    Or $0.00 with a Prime
                </li>

            </ul>
            <div class="card-body">
                <button type="button" class="btn btn-success ">View Details</button>
            </div>
        </div>



        <div class="card mt-4" style="width: 18rem;">

            <img src="https://www.pixground.com/wp-content/uploads/2023/06/Blue-Beetle-4K-Wallpaper-1536x864.webp" class="card-img-top" alt="Card Image">

            <div class="card-body">
                <h5 class="card-title">Everything Everywhere All At Once</h5>
                <p class="card-text">2022 | R | CC</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Starring: Michelle Yeoh , Stephanie Hsu , Ke Huy Quan , et al.
                    Directed by: Dan Kwan and Daniel Scheinert
                </li>
                <li class="list-group-item">
                    From $3.99 to rent
                    Or $0.00 with a Prime
                </li>

            </ul>
            <div class="card-body">
                <button type="button" class="btn btn-success ">View Details</button>

            </div>
        </div>

        <div class="card mt-4" style="width: 18rem;">

            <img src="https://www.pixground.com/wp-content/uploads/2023/06/The-Flash-2023-Movie-4K-Wallpaper.jpg" class="card-img-top" alt="Card Image">

            <div class="card-body">
                <h5 class="card-title">Everything Everywhere All At Once</h5>
                <p class="card-text">2022 | R | CC</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Starring: Michelle Yeoh , Stephanie Hsu , Ke Huy Quan , et al.
                    Directed by: Dan Kwan and Daniel Scheinert
                </li>
                <li class="list-group-item">
                    From $3.99 to rent
                    Or $0.00 with a Prime
                </li>

            </ul>
            <div class="card-body">
                <button type="button" class="btn btn-success">View Details</button>

            </div>
        </div>


        <div class="card mt-4" style="width: 18rem;">

            <img src="https://www.pixground.com/wp-content/uploads/2023/06/Barbie-Movie-Margot-Robbie-Ryan-Gosling-4K-Wallpaper-1536x864.webp" class="card-img-top" alt="Card Image">

            <div class="card-body">
                <h5 class="card-title">Everything Everywhere All At Once</h5>
                <p class="card-text">2022 | R | CC</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Starring: Michelle Yeoh , Stephanie Hsu , Ke Huy Quan , et al.
                    Directed by: Dan Kwan and Daniel Scheinert
                </li>
                <li class="list-group-item">
                    From $3.99 to rent 
                    Or $0.00 with a Prime <span class="badge bg-secondary">New</span>
                </li>

            </ul>
            <div class="card-body">
                <button type="button" class="btn btn-success">View Details</button>

            </div>
        </div>

        <div class="card mt-4" style="width: 18rem;">

            <img src="https://www.pixground.com/wp-content/uploads/2023/12/Zendaya-As-Chani-Dune-2-Movie-4K-Wallpaper-1536x864.webp" class="card-img-top" alt="Card Image">

            <div class="card-body">
                <h5 class="card-title">Everything Everywhere All At Once</h5>
                <p class="card-text">2022 | R | CC</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Starring: Michelle Yeoh , Stephanie Hsu , Ke Huy Quan , et al.
                    Directed by: Dan Kwan and Daniel Scheinert
                </li>
                <li class="list-group-item">
                    From $3.99 to rent
                    Or $0.00 with a Prime
                </li>

            </ul>
            <div class="card-body">
                <button type="button" class="btn btn-success">View Details</button>

            </div>
        </div>
        <div class="card mt-4" style="width: 18rem;">

            <img src="https://www.pixground.com/wp-content/uploads/2023/09/Aquaman-and-the-Lost-Kingdom-2023-4K-Wallpaper-1536x864.webp" class="card-img-top" alt="Card Image">

            <div class="card-body">
                <h5 class="card-title">Everything Everywhere All At Once</h5>
                <p class="card-text">2022 | R | CC</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Starring: Michelle Yeoh , Stephanie Hsu , Ke Huy Quan , et al.
                    Directed by: Dan Kwan and Daniel Scheinert
                </li>
                <li class="list-group-item">
                    From $3.99 to rent
                    Or $0.00 with a Prime<span class="badge bg-secondary">New</span>
                </li>

            </ul>
            <div class="card-body">
                <button type="button" class="btn btn-success ">View Details</button>

            </div>
        </div>
        <div class="card mt-4" style="width: 18rem;">

            <img src="https://www.pixground.com/wp-content/uploads/2023/07/Teenage-Kraken-Ruby-Gillman-Movie-4K-Wallpaper-1536x864.webp" class="card-img-top" alt="Card Image">

            <div class="card-body">
                <h5 class="card-title">Everything Everywhere All At Once</h5>
                <p class="card-text">2022 | R | CC</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Starring: Michelle Yeoh , Stephanie Hsu , Ke Huy Quan , et al.
                    Directed by: Dan Kwan and Daniel Scheinert
                </li>
                <li class="list-group-item">
                    From $3.99 to rent
                    Or $0.00 with a Prime
                </li>

            </ul>
            <div class="card-body">
                <button type="button" class="btn btn-success ">View Details</button>

            </div>
        </div>
        <div class="card mt-4" style="width: 18rem;">

            <img src="https://www.pixground.com/wp-content/uploads/2023/07/Teenage-Kraken-Ruby-Gillman-4K-Wallpaper-1536x864.webp" class="card-img-top" alt="Card Image">

            <div class="card-body">
                <h5 class="card-title">Everything Everywhere All At Once</h5>
                <p class="card-text">2022 | R | CC</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Starring: Michelle Yeoh , Stephanie Hsu , Ke Huy Quan , et al.
                    Directed by: Dan Kwan and Daniel Scheinert
                </li>
                <li class="list-group-item">
                    From $3.99 to rent
                    Or $0.00 with a Prime
                </li>

            </ul>
            <div class="card-body">
                <button type="button" class="btn btn-success ">View Details</button>

            </div>
        </div>
        <div class="card mt-4" style="width: 18rem;">

            <img src="https://img.freepik.com/free-photo/wide-angle-shot-single-tree-growing-clouded-sky-during-sunset-surrounded-by-grass_181624-22807.jpg" class="card-img-top" alt="Card Image">

            <div class="card-body">
                <h5 class="card-title">Everything Everywhere All At Once</h5>
                <p class="card-text">2022 | R | CC</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Starring: Michelle Yeoh , Stephanie Hsu , Ke Huy Quan , et al.
                    Directed by: Dan Kwan and Daniel Scheinert
                </li>
                <li class="list-group-item">
                    From $3.99 to rent
                    Or $0.00 with a Prime<span class="badge bg-secondary"> New</span>
                </li>

            </ul>
            <div class="card-body">
                <button type="button" class="btn btn-success ">View Details</button>

            </div>
        </div>
        <div class="card mt-4" style="width: 18rem;">

            <img src="https://www.pixground.com/wp-content/uploads/2023/06/Transformers-Rise-of-the-Beasts-Arcee-4K-Wallpaper-1536x864.webp" class="card-img-top" alt="Card Image">

            <div class="card-body">
                <h5 class="card-title">Everything Everywhere All At Once</h5>
                <p class="card-text">2022 | R | CC</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Starring: Michelle Yeoh , Stephanie Hsu , Ke Huy Quan , et al.
                    Directed by: Dan Kwan and Daniel Scheinert
                </li>
                <li class="list-group-item">
                    From $3.99 to rent
                    Or $0.00 with a Prime<span class="badge bg-secondary"> New</span>
                </li>

            </ul>
            <div class="card-body">
                <button type="button" class="btn btn-success ">View Details</button>

            </div>
        </div>
        <div class="card mt-4" style="width: 18rem;">

            <img src="https://img.freepik.com/free-photo/wide-angle-shot-single-tree-growing-clouded-sky-during-sunset-surrounded-by-grass_181624-22807.jpg" class="card-img-top" alt="Card Image">

            <div class="card-body">
                <h5 class="card-title">Everything Everywhere All At Once</h5>
                <p class="card-text">2022 | R | CC</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Starring: Michelle Yeoh , Stephanie Hsu , Ke Huy Quan , et al.
                    Directed by: Dan Kwan and Daniel Scheinert
                </li>
                <li class="list-group-item">
                    From $3.99 to rent
                    Or $0.00 with a Prime<span class="badge bg-secondary"> New</span>
                </li>

            </ul>
            <div class="card-body">
                <button type="button" class="btn btn-success ">View Details</button>

            </div>
        </div>
        <div class="card mt-4" style="width: 18rem;">

            <img src="https://img.freepik.com/free-photo/wide-angle-shot-single-tree-growing-clouded-sky-during-sunset-surrounded-by-grass_181624-22807.jpg" class="card-img-top" alt="Card Image">

            <div class="card-body">
                <h5 class="card-title">Everything Everywhere All At Once</h5>
                <p class="card-text">2022 | R | CC</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Starring: Michelle Yeoh , Stephanie Hsu , Ke Huy Quan , et al.
                    Directed by: Dan Kwan and Daniel Scheinert
                </li>
                <li class="list-group-item">
                    From $3.99 to rent
                    Or $0.00 with a Prime
                </li>

            </ul>
            <div class="card-body">
                <button type="button" class="btn btn-success ">View Details</button>

            </div>
        </div>



    </div>
