@model DVDRental2.Models.UpdateMovieViewModel


@{
}


<form method="post" action="View" class="mt-5">
    <div class="mb-3">
        <label for="title" class="form-label">Movie ID</label>
        <input type="text" class="form-control" id="title" asp-for="Id" name="Id" readonly>
    </div>
    <div class="mb-3">
        <label for="title" class="form-label">Movie Title</label>
        <input type="text" class="form-control" id="title" asp-for="Title" name="Title" >
    </div>
    <div class="mb-3">
        <label for="star" class="form-label">Lead Actor/Actress</label>
        <input type="text" class="form-control" id="star" asp-for="Star" name="Star" >
    </div>
    <div class="mb-3">
        <label for="director" class="form-label">Director's Name</label>
        <input type="text" class="form-control" id="director" asp-for="Director" name="Director" >
    </div>
    <div class="mb-3">
        <label for="genre" class="form-label">Genre</label>
        <input type="text" class="form-control" id="genre" asp-for="Genre" name="Genre" >
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Movie Description</label>
        <textarea class="form-control" id="description" asp-for="Description" name="Description" ></textarea>
    </div>
    <div class="mb-3">
        <label for="releaseYear" class="form-label">Release Date</label>
        <input type="date" class="form-control" id="releaseYear" asp-for="ReleaseYear" name="ReleaseYear" >
    </div>
    <br />

    <button type="submit" class="btn btn-primary">Edit Details</button>
    <button type="submit" class="btn btn-danger" asp-action="Delete" asp-controller="Movies">Delete Details</button>
</form>

<br />
<br />
<br />
<br />
<br />
